<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
          <div class="logo">
            <a href="/listings">
              <h2>WanderLust</h2>
            </a>
          </div>
          <nav class="main-nav">
            <ul>
              <li><a href="/listings">Home</a></li>
              <li><a href="/listings/new">Add New Listing</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
          <div class="auth-buttons">
            <a href="/login" class="btn btn-outline">Login</a>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </header>  
</body>
</html>